{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-console": 0,
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0,
    "import/no-extraneous-dependencies": 0
  }
}
